<form action="/items" method="post">
    <label for="length"> Add Parcel Length in cm.</label> 
    <input id="length" name="length" type="text">
    <label for="width"> Add Parcel Width in cm.</label> 
    <input id="width" name="width" type="text">
    <label for="height"> Add Height in cm.</label> 
    <input id="height" name="height" type="text">

    <button type="submit">Submit</button>
</form>